/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@media (prefers-reduced-motion: no-preference) {

  .theme-menu__button {
    transition: opacity 0.3s ease;
  }

  .theme-menu__button:focus-visible::after {
    transform-origin: left center;
  }
  
  .theme-menu__item button:disabled::before {
    animation: menu-marker 0.5s ease-in-out infinite;
    top: 50%;
  }
  
  @keyframes menu-marker {
    0% {
      transform: translateY(-50%) translateX(0);
    }
    50% {
      transform: translateY(-50%) translateX(4px);
    }
    100% {
      transform: translateY(-50%) translateX(0);
    }
  }

  .button {
    transition: box-shadow, transform 0.3s ease;
  }

  .button:not(.card__icon-button)::after {
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }
  
  .button:not(.card__icon-button):hover::after {
    transform: scaleX(1);
  }

  .button:not(.card__icon-button) .button__text {
    color: var(--text-color);
    transition: color 1s ease;
  }
  .button:not(.card__icon-button):hover .button__text {
    color: var(--bg-color);
  }

  .button:not(.card__icon-button) .icon {
    color: var(--text-color);
    transition: color 1s ease;
  }

  .button:not(.card__icon-button):hover .icon {
    color: var(--bg-color);
  }

  .card__icon-button .like-icon {
    transition: border, fill  0.3s ease;
  }

  .like-icon .contour {
    fill: var(--heart-icon-border);
    transition: fill 0.1s linear;
  }

  .like-icon .main-body {
    fill: var(--bg-color);
  }

  .like-icon .core {
    fill: var(--bg-color);
  }

  .like-icon .sparks {
    opacity: 0;
  }

  .card__icon-button:focus-visible {
    outline: none;
  }

  .card__icon-button:focus-visible .like-icon {
    border: 2px solid var(--heart-icon-border);
  }

  .card__icon-button .like-icon .contour {
    transition: fill 0.1s linear;
  }

  .card__icon-button .like-icon .core {
    transition: fill 0.3s 0.03s linear;
  }

  .card__icon-button .like-icon .main-body {
    transition: fill 0.03s linear;
  }

  .card__icon-button:not(.is-liked):hover .like-icon .core {
    fill: var(--heart-icon-border);
    transition: fill 0.3s linear;
  }
   .card__icon-button:active .like-icon .main-body {
    fill: var(--heart-icon-fill);
    transition: fill 0.3s 0.05s linear;
  }

  .card__icon-button:not(.is-liked):hover .like-icon .main-body {
    fill: var(--heart-icon-border);
    transition: fill 0.3s 0.05s linear;
  }


  .card__icon-button:active .like-icon .core {
    fill: var(--heart-icon-fill);
    transition: fill 0.3s linear;
  }
  
  .like-icon.is-liked .core {
    fill: var(--heart-icon-fill);
    transition: fill 0.3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--heart-icon-fill);
    transition: fill 0.3s 0.05s linear;
  }

   .like-icon.is-liked .contour {
    fill: var(--heart-icon-fill);
    transition: fill 0.3s 0.06s linear;
  }

  .like-icon.is-liked .heart {
    transform-origin: center;
    animation: heart-beat 0.3s 0.1s ease-in;
  }

  @keyframes heart-beat {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.5);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .like-icon.is-liked .sparks {
    fill: var(--heart-icon-fill);
    animation: heart-sparks 0.3s 0.3s ease-in;
  }

  @keyframes heart-sparks {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}
