/* 
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/



body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  background: var(--bg-pattern);
  background-size: 4px 4px;
  background-repeat: repeat;
}

.page {
  margin: auto;
  max-width: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvd;
  font-family: var(--font-text);
  background-color: var(--bg-color);
}

.header {
  display: flex;
  place-items: center end;
  flex-direction: column;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  font-family: var(--font-accent);
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
}

.header__main-title {
  margin-block-end: 18px;
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__sub-title {
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__button {
  position: relative;
  background: inherit;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  transition: none;
  cursor: pointer;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 20px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button::after {
  position: absolute;
  background: currentColor;
  content: '';
  transform: scaleX(0);
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__item button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__item button:disabled::before {
  content: '▶';
  position: absolute;
  left: -1rem;
}

.content {
  margin-block-end: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--text-color);
  margin-block-end: 50px;
}

.card__title {
  font-size: 18px;
  font-family: var(--font-text);
  border-style: solid;
  border-width: 0 0 2px;
  border-color: var(--border-color);
  font-variation-settings: 'wght' var(--font-weight-bold);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 5px;
  padding-block-end: 5px;
}

.card__content {
  padding: 25px;
}

.card__paragraph {
  font-family: var(--font-text);
  line-height: 21px;
  font-size: 18px;
  word-wrap: break-word;
  font-variation-settings: 'wght' var(--font-weight-regular);
}

.card__paragraph:not(:last-child) {
  padding-block-end: 27px;
}

@media (width <=375px) {
  .card__paragraph {
    padding-inline-end: 25px;
  }
}

.card-footer {
  display: flex;
  justify-content: end;
  place-items: center;
  gap: 12px;

}

.content .button:last-child {
  display: flex;
  justify-self: center;
}

.button {
  position: relative;
  background: initial;
  color: var(--text-color);
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-accent);
  padding: 10.5px 35px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.button:not(.card__icon-button):focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--border-color);
}

.button:not(.card__icon-button)::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: currentColor;
}

.button__text {
  position:relative;
  font-size: 14px;
  font-family: var(--font-accent);
  z-index: 2;
}

.card__like-button {
  display: inline-flex;
  max-width: 130px;
  align-items: center;
  justify-content: center;
}

.card__icon-button {
  display: inline-flex;
  border: 0;
  height: 36px;
  width: 39px;
  align-items: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}

.card__icon-button svg {
  display: block;
}

.button .icon {
  position: relative;
  height: 21px;
  width: 21px;
  color: var(--text-color);
  z-index: 2;
}

.card__icon-button > svg {
  height: 38px;
  width: 38px;
}

.button.button_icon_xl {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  padding: 14.5px 20px;
}

@media (width <=375px) {
  .button .icon {
    height: 28px;
    width: 28px;
  }
  .button.button_icon_xl {
    flex-direction: column;
  }
}
